{% extends 'general_bases/main_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
{% block title %}
  People table
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'tutorial:index'%}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">People's table</li>
{% endblock %}
{% block content %}  

{% if filter %}
<div class="container mb-3">
<div class="row justify-content-md-center">
  <form action="" method="get" class="col-xs-12 form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
  </div>
</div>
{% endif %}
{% render_table object_list %}
{% if not object_list %}
<strong class="offset-md-3">No hay datos para mostrar</strong>
{% endif %}



{% endblock %}