<nav class="navbar navbar-expand bg-dark navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand d-none d-md-block" href="#">Tables2</a>
    <a class="navbar-brand wrapper d-xs-block d-md-none sidebarCollapse text-white">
      <div class="row wrapper justify-content-end">
        <div class="col-6">
          Tables2
        </div>
        <div class="col-6 text-right ">
          <span class="fi-menu" title="menu" aria-hidden="true"></span>
        </div>
      </div>
    </a>
    
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link btn p-2 active sidebarCollapse">
          <span class="fi-menu" title="menu" aria-hidden="true"></span>
          Menu
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          vCen
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
          <a class="dropdown-item active" href="">vCen</a>
          <a class="dropdown-item " href="">lalala</a>
          <a class="dropdown-item" href="">Pord</a>
          <a class="dropdown-item" href="">lalala</a>
          <!--<div class="dropdown-divider"></div>-->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2 active">
          gybranperez@gmail.com
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2 btn btn-danger">
            Salir
        </a>
      </li>
    </ul>
  </nav>