<li>
    <a href="#">Dashboard</a>
</li>
<li>
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contabilidad</a>
    <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
            <a href="#">Facturación</a>
        </li>
        <li>
            <a href="#">CxC</a>
        </li>
        <li>
            <a href="#">CxP</a>
        </li>
    </ul>
</li>
<li>
    <a href="#">Inventario</a>
</li>
<li class="d-md-none">
    <a class="bg-danger" href="#">Logout</a>
</li>
