/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.navbar{
    z-index: 5000;
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgb(55,70,80);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding-top: 58px !important;
    padding: 11px 20px 10px 20px;
}

#sidebar ul.components {
    border-bottom: 1px solid rgb(55,70,80);
}
#sidebar>ul{
    padding-top: 60px !important;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: white;
}

#sidebar ul li a:hover {
    color: white;
    background:#294F69;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #294F69;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(38,50,56);
}

.menu-text {
   color:white;
   font-size: 24px;
   font-weight: bold;
   position: relative;
   top: 10px;
   left:5px;
}


.menu-btn {
    background:rgb(171,92,114);
    margin-top: 10px;
    color: white;
}

.menu-header {
    width:100%;
    height:64px;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    padding-top: 58px !important;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
   
}